/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "base/base";
@import "neat";

body {
  margin: 0;
  background: #f3f3f9;
}

#header {
  background: #c3d6e9;
  padding: 20px;
  text-align: center;
}

#content {
  background: white;
  overflow: hidden;
}

#footer {
  color: #999;
  margin: 20px;
  text-align: right;
  clear: both;
}

.lists {
  padding: 10px;
  float: left;
  width: 29%;

  ul {
    li {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #d3e6f9;
      }
    }
  }
}

.items {
  padding: 10px;
  float: right;
  width: 70%;
  border-left: 3px solid #f3f3f9;
}